In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [5]:
# # Machine Learning libraries
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error
# import tensorflow as tf

In [6]:
# Load the dataset
file_path = 'Resources/US_Accidents_2023_Arizona.csv'
df = pd.read_csv(file_path, low_memory=False)

In [7]:
display(df)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2127689,Source2,2,2019-05-28 07:37:44,2019-05-28 08:45:19,33.436073,-111.926163,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
1,A-5094139,Source1,2,2022-12-07 14:13:30.000000000,2022-12-07 19:50:00.000000000,33.462169,-112.044382,33.462945,-112.167175,7.078,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-5478004,Source1,2,2021-10-28 08:28:00,2021-10-28 10:38:48,32.134285,-110.888800,32.137974,-110.889210,0.256,...,False,False,False,False,True,False,Day,Day,Day,Day
3,A-2050515,Source2,2,2019-06-13 06:07:13,2019-06-13 06:36:46,33.422340,-111.831451,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5137347,Source1,2,2023-01-19 15:20:30.000000000,2023-01-19 15:51:00.000000000,32.199798,-110.903019,32.199496,-110.909341,0.370,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11145,A-3635317,Source1,2,2017-06-05 09:56:41,2017-06-05 15:56:41,32.734420,-111.548260,32.735271,-111.550361,0.136,...,False,False,False,False,False,False,Day,Day,Day,Day
11146,A-2592138,Source2,3,2018-09-18 15:21:16,2018-09-18 15:50:50,33.411053,-111.995293,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
11147,A-6138538,Source1,2,2021-11-17 15:11:40.000000000,2021-11-17 16:27:30.000000000,32.227778,-110.952372,32.227775,-110.951031,0.078,...,False,False,True,False,False,False,Day,Day,Day,Day
11148,A-4254974,Source1,2,2022-04-01 16:03:47,2022-04-01 18:11:24,33.669909,-112.038242,33.672649,-112.024312,0.823,...,False,False,False,False,False,False,Day,Day,Day,Day
11149,A-3789256,Source1,2,2022-04-13 19:28:29,2022-04-13 21:33:44,34.561862,-112.259620,34.566822,-112.267150,0.549,...,False,False,False,False,True,False,Night,Night,Day,Day

In [12]:
# Load the dataset
file_path = 'Resources/US_Accidents_2023_Arizona.csv'
df = pd.read_csv(file_path, low_memory=False)

# Convert Start_Time to datetime format with error handling
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

# Filter out rows where Start_Time conversion failed
df = df.dropna(subset=['Start_Time'])

# Filter for 2023 data
df_2023 = df[df['Start_Time'].dt.year == 2022]

# Define Phoenix metropolitan area cities
phoenix_cities = [
    'Phoenix', 'Mesa', 'Chandler', 'Glendale', 'Scottsdale', 'Gilbert', 
    'Tempe', 'Peoria', 'Surprise', 'Avondale', 'Goodyear', 'Buckeye'
]

# Filter for the Phoenix metropolitan area
df_phoenix_2023 = df_2023[df_2023['City'].isin(phoenix_cities)]

# Display the cleaned data
print(df_phoenix_2023.head())

# Save the cleaned data to a new CSV file
cleaned_file_path = 'Resources/US_Accidents_2023_Phoenix_Metro.csv'
df_phoenix_2023.to_csv(cleaned_file_path, index=False)

# Print the number of rows in the cleaned dataset
display(f"Number of rows in the Phoenix metropolitan area for 2023: {len(df_phoenix_2023)}")

           ID   Source  Severity          Start_Time             End_Time  \
7   A-4620667  Source1         2 2022-05-04 00:35:44  2022-05-04 02:41:29
43   A-752668  Source2         2 2022-01-10 08:02:18  2022-01-10 08:47:17
62  A-5410011  Source1         2 2022-04-24 23:29:51  2022-04-25 00:52:16
81  A-4452285  Source1         2 2022-01-03 15:00:00  2022-01-03 16:40:31
84   A-658916  Source2         2 2022-04-06 05:21:09  2022-04-06 05:50:52

    Start_Lat   Start_Lng    End_Lat     End_Lng  Distance(mi)  ...  \
7   33.457822 -112.364291  33.457752 -112.352981         0.652  ...
43  33.494709 -112.056328        NaN         NaN         0.000  ...
62  33.406713 -112.061288  33.404100 -112.061327         0.181  ...
81  33.497898 -112.186309  33.498668 -112.186296         0.053  ...
84  33.552662 -112.209618        NaN         NaN         0.000  ...

   Roundabout Station   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
7       False   False  False           False          False        False
43      False   False  False           False           True        False
62      False   False   True           False          False        False
81      False   False  False           False          False        False
84      False   False   True           False          False        False

   Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
7           Night          Night             Night                 Night
43            Day            Day               Day                   Day
62          Night          Night             Night                 Night
81            Day            Day               Day                   Day
84          Night          Night               Day                   Day

[5 rows x 46 columns]

'Number of rows in the Phoenix metropolitan area for 2023: 876'

In [22]:
import pandas as pd

# Load the dataset
file_path = 'Resources/US_Accidents_2023_Arizona.csv'
df = pd.read_csv(file_path, low_memory=False)

# Convert Start_Time to datetime format with error handling
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

# Filter out rows where Start_Time conversion failed
df = df.dropna(subset=['Start_Time'])

# Filter for 2023 data
df_2023 = df[df['Start_Time'].dt.year == 2022]

# Define Phoenix metropolitan area cities
phoenix_cities = [
    'Phoenix', 'Mesa', 'Chandler', 'Glendale', 'Scottsdale', 'Gilbert', 
    'Tempe', 'Peoria', 'Surprise', 'Avondale', 'Goodyear', 'Buckeye'
]

# Filter for the Phoenix metropolitan area
df_phoenix_2023 = df_2023[df_2023['City'].isin(phoenix_cities)]

# Drop specified columns
columns_to_drop = ['Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']
df_phoenix_2023 = df_phoenix_2023.drop(columns=columns_to_drop)

# Rename 'Sunrise_Sunset' to 'Day_or_Night'
df_phoenix_2023 = df_phoenix_2023.rename(columns={'Sunrise_Sunset': 'Day_or_Night'})

# Display the cleaned data
print(df_phoenix_2023.head())

# Save the cleaned data to a new CSV file
cleaned_file_path = 'Resources/US_Accidents_2023_Phoenix_Metro.csv'
df_phoenix_2023.to_csv(cleaned_file_path, index=False)

# Print the number of rows in the cleaned dataset
print(f"Number of rows in the Phoenix metropolitan area for 2023: {len(df_phoenix_2023)}")

           ID   Source  Severity          Start_Time             End_Time  \
7   A-4620667  Source1         2 2022-05-04 00:35:44  2022-05-04 02:41:29
43   A-752668  Source2         2 2022-01-10 08:02:18  2022-01-10 08:47:17
62  A-5410011  Source1         2 2022-04-24 23:29:51  2022-04-25 00:52:16
81  A-4452285  Source1         2 2022-01-03 15:00:00  2022-01-03 16:40:31
84   A-658916  Source2         2 2022-04-06 05:21:09  2022-04-06 05:50:52

    Start_Lat   Start_Lng    End_Lat     End_Lng  Distance(mi)  ... Junction  \
7   33.457822 -112.364291  33.457752 -112.352981         0.652  ...    False
43  33.494709 -112.056328        NaN         NaN         0.000  ...    False
62  33.406713 -112.061288  33.404100 -112.061327         0.181  ...    False
81  33.497898 -112.186309  33.498668 -112.186296         0.053  ...    False
84  33.552662 -112.209618        NaN         NaN         0.000  ...    False

   No_Exit Railway Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
7    False   False      False   False  False           False          False
43   False   False      False   False  False           False           True
62   False   False      False   False   True           False          False
81   False   False      False   False  False           False          False
84   False   False      False   False   True           False          False

   Turning_Loop Day_or_Night
7         False        Night
43        False          Day
62        False        Night
81        False          Day
84        False        Night

[5 rows x 43 columns]
Number of rows in the Phoenix metropolitan area for 2023: 876